<!--Template Base para demais páginas-->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de Usuário</title>
</head>
<body>
    <img src="https://portal.ifro.edu.br/images/botoes_do_site/menu-de-relevancia/logotipo-IFRO-portal-principal.png" alt="logo ifro" width="70" height="70">
    <br>
    <nav>
        <a href="/index">Página Inicial</a>
        <a href="/contato">Contatos</a>
    </nav>
    <!--Conteúdo que será adicionado nas demais páginas.-->
    {% block conteudo %}
    {% endblock %}

    <h6>Copyright@2024</h6>
</body>
</html>